<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
     
    @Styles.Render("~/Content/css")
    
    @Scripts.Render("~/bundles/modernizr")
    
     <!-- jQuery library (served from Google) -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>FOOD GALLARY</title>
	<link href="~/Content/style.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="~/Content/base.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    
	<script type="text/javascript" src="~/Scripts/jquery.js"></script>    
        <script src="~/Scripts/jquery.min.js" type="text/javascript"></script> 
    
    <script src="~/Scripts/FF-cash.js" type="text/javascript"></script>      
    <script src="~/Scripts/tms-0.3.js" type="text/javascript"></script>
    <script src="~/Scripts/tms_presets.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.easing.1.3.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.equalheights.js" type="text/javascript"></script>
     
     @RenderSection("stylo1",required: false)
     @RenderSection("stylo2",required: false)
     @RenderSection("headerfancy",required: false)
     @RenderSection("butonstyle1",required: false)
     @RenderSection("butonstylo2",required: false)
     @RenderSection("butonstylo1",required: false)
      @RenderSection("headerbx",required: false)
      @RenderSection("styloo",required: false)
      @RenderSection("logS",required: false)
    @RenderSection("slider",required: false)
   
</head>
<body>
    <div id="container">
      <header>
        <nav>
          <ul id="nav">
              @{
                  if(ViewBag.x==1)
                  {
                      <li><a href="~/Home/index" class="current">Home</a></li>
                   }
                   else
                   {
                     <li><a href="~/Home/index">Home</a></li>    
                   }
                  if(ViewBag.x==2)
                  {
                         <li><a href="~/Home/gallery" class="current">Gallery</a></li>
                             }
                   else
                   {
                      <li><a href="~/Home/gallery">Gallery</a></li>
                   }
                    if(ViewBag.x==3)
                  {
                           <li><a href="~/Home/about" class="current">About</a></li>
                             }
                   else
                   {
                       <li><a href="~/Home/about">About</a></li>
                   }
                     if(ViewBag.x==4)
                  {
                            <li><a href="~/Home/menu" class="current">Menu</a></li>
                             }
                   else
                   {
                      <li><a href="~/Home/menu">Menu</a></li>
                   }
                      if(ViewBag.x==5)
                  {
                             <li><a href="~/Home/reviews"class="current">Reviews</a></li>
                             }
                   else
                   {
                      <li><a href="~/Home/reviews">Reviews</a></li>
                   }
             if(ViewBag.x==6)
                  {
                              <li><a href="~/Home/contact"class="current">Contact</a></li>
                             }
                   else
                   {
                      <li><a href="~/Home/contact">Contact</a></li>
                   }
           
           
           
                  }
              
                  </ul>
        </nav>
        <hgroup class="intro">
          <h1 class="title">FOODGALLERY</h1>
          
        </hgroup>
          
      </header>
        
    @RenderBody()
         <footer>
     <div class="border"></div>
        <div class="footer-widget">
           
            </div>
         
        <div class="footer-widget">
          <h4>We Are Social!</h4>
          <div id="social"> <a href="http://twitter.com/priteshgupta" class="s3d twitter" target="_blank"> Twitter <span class="icons twitter"></span> </a> <a href="http://www.facebook.com/priteshgupta" class="s3d facebook" target="_blank"> Facebook <span class="icons facebook"></span> </a> <a href="http://forrst.com/people/priteshgupta" class="s3d forrst" target="_blank"> Forrst <span class="icons forrst"></span> </a> <a href="http://www.flickr.com/photos/priteshgupta" class="s3d flickr" target="_blank"> Flickr <span class="icons flickr"></span> </a> <a href="#" class="s3d designmoo" target="_blank"> Designmoo <span class="icons designmoo"></span> </a> </div>
        </div>
        <div class="border2"></div>
        <br />
        <span class="copyright"><span class="left"><br />
        &copy; Copyright 2012 - All Rights Reserved - <a href="#">.com</a></span><span class="right"><br />
        Design by Mehwish Ghafoor<br />
        <br>
        <br />
        </span></span></footer>
    </div>
   
</body>
</html>
